@charset "utf-8";
/* CSS Document */

body {
	
 /* background:#009  no-repeat center fixed;*/
 background:url(../img/bg.jpg);
  
}

html 
{ 
  height: 100%;
}

* 
{ 
  margin: 0;
  padding: 0;
}

.mod-container {
	/*border: 1px solid #d9d9d9;*/
	height: 100%;
	padding: 1px;
	margin-bottom: 15px;	
}


.head p
{
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#29648d;
	text-align:left;
	margin-left:8px;
	margin-top:3px;
}

#center {
    border: 0.1em solid #999;
    min-height: 450px; /* for modern browsers */
    /* for IE5.x and IE6 */
	width:950px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	background-color:#f5f3f1;
	padding-bottom:10px;
	

}

#center1 {
    border: 0.1em solid #999;
    min-height: 50px; /* for modern browsers */
    /* for IE5.x and IE6 */
	width:385px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	background-color:#f5f3f1;
	padding-bottom:10px;
}

#center2 {
    border: 0.1em solid #999;
    min-height: 50px; /* for modern browsers */
    /* for IE5.x and IE6 */
	width:520px;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
	background-color:#f5f3f1;
	padding-bottom:10px;
}



.logbutton {
	background: url("../img/loginbt.png") no-repeat scroll center top transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    margin: 0 0 0 222px;
    text-indent: 100px;
    width: 100px;
  }
  
  .logbutton:hover{
	background: url("../img/loginbt.png") no-repeat scroll center top transparent;
    border: 0 none;
    cursor: pointer;
    height: 34px;
    margin: 0 0 0 222px;
    text-indent: 100px;
    width: 100px;
  }
  
 .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #9298EF;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9298EF;
	box-shadow:inset 0px 1px 0px 0px #9298EF;
	background:#29648d;
	background:-moz-linear-gradient( center top, #058AFF 5%, #006BC9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#29648d', endColorstr='#29648d');
	background-color:#29648d;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #29648d;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 9px;
	text-decoration:none;
}
.button:hover {
	background:#29648d;
	background:-moz-linear-gradient( center top, #006BC9 5%, #058AFF 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#29648d', endColorstr='#29648d');
	background-color:#29648d;
}
.button:active {
	position:relative;
	top:1px;
}

.button1
{
	background-image:url(../img/search.png);
	width:83px;
	height:32px;
	cursor:pointer;
	border:none;
}

.button1:hover
{
	background-image:url(../img/search1.png);
	width:83px;
	height:32px;
	cursor:pointer;
	border:none;
}
	
	
  
  .log input {
  color: #333333;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 8px 7px 7px 37px;
    padding: 4px;
    width: 253px;
	border:solid 0px;
	border-color: transparent; 

	background-color: transparent; 
	}


.logforgot a
{
	text-align:left; color:#29648d; margin-left:6px; font-family:Arial, Helvetica, sans-serif;
	font-size:12px; text-decoration:underline; margin-top:8px; float:left;
}

#footer-wrap {
	position:fixed;
	bottom: 1;
	left: 0;
	width: 100%;
	background-color: #29648d;
				
}

#footer-wrap1 {
	position:relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color:#29648d;
	overflow: hidden;
	
}

.cont label
{
	float:left;
	text-align:left;
	margin-left:4px;
	margin-top:0px;
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	
}

.conthead label
{
		float:right;
	text-align:right;
	margin-left:4px;
	margin-top:0px;
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	
}


.contval label
{
	float:left;
	text-align:left;
	margin-left:4px;
	margin-top:0px;
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	
}


.cont input[type=text]
{
	
	 /* height: 23px;
	  width: 80%;*/
	background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #E5E5E5; 
    box-shadow: 0 0 8px #F0F0F0;
    display: block;
    font-size: 13px;
    height: 100%;
    margin: 1px 0 0;
    padding: 7px;
    width: 90%;
    background: #FFFFFF;
    background:-webkit-gradient(linear,left top,left 25,from(#FFFFFF),color-stop(4%, #EEEEEE),to(#FFFFFF));
    background:
        -moz-linear-gradient(
            top,
            #FFFFFF,
            #EEEEEE 1px,
            #FFFFFF 25px
            );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}

.cont input[type=password]
{
	 background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #E5E5E5; 
    box-shadow: 0 0 8px #F0F0F0;
    display: block;
    font-size: 13px;
    height: 40%;
    margin: 1px 0 0;
    padding: 7px;
    width: 80%;
    background: #FFFFFF;
    background:
        -webkit-gradient(
            linear,
            left top,
            left 25,
            from(#FFFFFF),
            color-stop(4%, #EEEEEE),
            to(#FFFFFF)
        );
    background:
        -moz-linear-gradient(
            top,
            #FFFFFF,
            #EEEEEE 1px,
            #FFFFFF 25px
            );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}

/*.cont input[type=button]
{
-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 12px;
	text-decoration:none;
}
*/
.cont select
{
	 background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE 1px, #FFFFFF 25px) repeat scroll 0 0 transparent;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 8px #F0F0F0;
    display: block;
    font-size: 13px;
    height: 100%;
    margin: 1px 0 0;
    padding: 4px;
    width: 90%;
   background:
        -webkit-gradient(
            linear,
            left top,
            left 25,
            from(#FFFFFF),
            color-stop(4%, #EEEEEE),
            to(#FFFFFF)
        );
    background:
        -moz-linear-gradient( top,
            #FFFFFF,
            #EEEEEE 1px,
            #FFFFFF 25px
            );
    -moz-box-shadow: 0px 0px 8px #f0f0f0;
    -webkit-box-shadow: 0px 0px 8px #f0f0f0;
    box-shadow: 0px 0px 8px #f0f0f0;
}



.container
{
	margin-bottom:15px;
}

.footercontainer p {
	/*background: url(../images/footer-bg.png) repeat-x left bottom;*/
    background-color:#29648d;
	float:left;
	text-align:left;
	margin-left:8px;
	margin-top:0px;
	padding-top:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	
}


/*
table start*/
table
{
    font-size: 0.9em;
    margin: 0 auto;
     /* hack IE8 */
    border-collapse: collapse \0/;
    border-right: 2px inset #D3D3
    background-color:transparent;
    box-shadow:black 1px 1px 2px;
    border-collapse: collapse;D3 \0/;
    border-bottom: 2px inset #D3D3D3 \0/;
     /* hack IE7 */
    *border-collapse: collapse;
    *border-right: 2px inset #D3D3D3;
    *border-bottom: 2px inset #D3D3D3;
}
thead tr{
    background-color: #29648d;
}
th a{
   color:black;
}
tr.odd
{
    background-color: #E5ECF9;
}

tr.noDataRow td {
    text-align: center;
}

table th.title
{
    text-align: center;
}


th,td
{
    text-align: left;
    padding: 10px;
}

td
{
    height: 1.6em;
    padding: 0 0.5em;
}

td.editable
{
    width: 200px;
    height: 22px;
}

th.sortable
{
    cursor: pointer;
}

tr.loading {
    color: #dddddd;
    background-color: #f6f6f6;
}

td.loading
{
    background: url('images/loading.gif') no-repeat 4px center;
    padding-left: 24px;
    color: #aaaaaa;
    width: 176px;
}

td.delete {
    background: url('images/delete.png') no-repeat center center;
    cursor: pointer;
    text-align: center;
    width: 150px;
}

td.delete label {
    display: none;
}

table.activated th.edit,
table.activated td.edit {
    display: none;
}

table.activated td.delete input {
    display: none;
}

table.activated td.delete label {
    display: block;
}

p.addRow {
    text-align: right;
    margin: 0 1em 0 0;
}

p.addRow a {
    cursor: pointer;
}

form fieldset.errors {
    color: red;
}

form fieldset.errors p {
    margin: 0.2em;
}

form div.submit {
    padding: 1em;
    text-align: right;
}

form div.submit input {
    cursor: pointer;
}

form.newRow h3 {
    margin: 0;
}

form.newRow th.edit,
form.newRow td.edit,
form.newRow th.delete,
form.newRow td.delete {
    display: none;
}

.pagination {
    color: #888888;
    float: left;
    margin: 30px auto 0;
    padding: 5px;
    font-size: 12px;
}

.pagination a {
    color: #29648d;
    padding: 5px;
    box-shadow:black 1px 1px 2px;
    border:1px solid gray;
    text-decoration: none;
}
.pagination a:hover {
    color: #29648d;
    padding: 5px;
    box-shadow:black 1px 1px 2px;
    border:1px solid gray;
    text-decoration: none;
    background-color: yellow;
}

.pagination .prev
{
    float: left;
    padding: 5px;
    box-shadow:black 1px 1px 2px;
    border:1px solid gray;
    margin-right: 5px;
}

.pagination .next
{
    float: right;
    padding: 5px;
    box-shadow:black 1px 1px 2px;
    border:1px solid gray;
    margin-left: 5px;
}
.pagination .current{
    padding: 5px;
    color:red;
    box-shadow:black 1px 1px 2px;
    border:1px solid gray;

}
.pagination .pages
{
    float:left;
    text-align: center;
    margin-top: 6px;
}








